@using WebApplication1.Models;
@{
    Layout = null;
    Employe emp = (Employe)ViewData["EmpKey"];
    string t =(string)ViewData["greeting"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        <h1>@emp.Name,@t</h1>
        <h1>@emp.Name,@((string)ViewData["greeting"])</h1>
        <h2>员工信息</h2>
        <p>姓名:@emp.Name</p>
        <p>工资:@emp.Salary.ToString("c")</p>
    </div>
</body>
</html>
