
@using WebApplication1.ViewModels;

@model AllViewModel
@{
    Layout = null;
    //Employe emp = (Employe)ViewData["EmpKey"];
    //Employe emp = ViewBag.EmpKey;
    //string t =(string)ViewData["greeting"];

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div>
        <hr />
        <h1>@Model.Greeting,@Model.UserName</h1>
        <hr />
        <h2>员工信息</h2>
        <p>姓名:@Model.EmployeeNmae</p>
        <p>工资:@Model.Salary</p>
        <p>级别:@Model.SalaryGrade</p>
        <hr />
        <h2>客户信息</h2>
        <p>姓名:@Model.CustomerName</p>
        <p>地址:@Model.CusAdd</p>




    </div>
</body>
</html>