@using WebApplication1.Models


@{
    Layout = null;
    Employe emp = (Employe)ViewData["EmpKey"];
    Cust ct = (Cust)ViewData["Customer"];
    //Employe emp = ViewBag.EmpKey;
    //string t =(string)ViewData["greeting"];
    string t = ViewBag.Greeting;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetView</title>
</head>
<body>
    <div>
        <hr />
        <h1>@ct.CustomerName,@t</h1>
        <hr />
        <h2>顾客信息</h2>
        <p>姓名:@ct.CustomerName</p>
        <p>地址:@ct.Add</p>

        <hr />

        <h1>@emp.Name,@t</h1>

        <hr />
        <h2>信息</h2>
        <p>姓名:@emp.Name</p>
        <p>薪金:@emp.Salary</p>
    </div>

</body>
</html>
